body {
    background-color:#ade6e7;
}

h3 {
    background-color:#6ed3d5;
    color:#267e80;
}

.logo  {
    width: 100px;
    height: 100px;
    position: relative;
}

.jag {
    width: 500px;
    height: 500px;
}

.block {
    width: 100px;
    height: 100px;
}

.jag2 {
    width: 500px;
    height: 500px;
    position: relative;
    top: 1000;
}